 <link rel="stylesheet" href="/css/Footer.css">
<footer class="text-center text-lg-start bg-light text-muted">
  <section class="d-flex justify-content-center justify-content-lg-between p-4 border-bottom">
    <div class="me-5 d-none d-lg-block">
      <span>Get connected with us on social networks:</span>
    </div>
    <div>
      <a href="https://www.carvel.com/" class="me-4 text-reset">
        <i class="fab fa-facebook-f"></i>
      </a>
      <a href="https://www.carvel.com/" class="me-4 text-reset">
        <i class="fab fa-twitter"></i>
      </a>
      <a href="https://www.carvel.com/" class="me-4 text-reset">
        <i class="fab fa-google"></i>
      </a>
      <a href="https://www.carvel.com/" class="me-4 text-reset">
        <i class="fab fa-instagram"></i>
      </a>
      <a href="https://www.carvel.com/" class="me-4 text-reset">
        <i class="fab fa-linkedin"></i>
      </a>
      <a href="https://www.carvel.com/" class="me-4 text-reset">
        <i class="fab fa-github"></i>
      </a>
    </div>
  </section>
    <div class="footer footer-text p-4">
        <div class="row">
        <div class="col-lg-6 col-md-12 mb-4 mb-md-0">
            <a class="footer_logo" href="#">
                    <img  src="/image/footerLogo.png"
                    alt="carvel-logo"/>
                </a>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <ul class="list-unstyled mb-0">
            <li>
                <a href="#">ABOUT</a>
            </li>
            <li>
                <a href="#">COUPONS</a>
            </li>
            <li>
                <a href="#">SITEMAP</a>
            </li>
            <li>
                <a href="#">GIFT CARDS</a>
            </li>
            </ul>
        </div>
        <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
            <ul class="list-unstyled">
            <li>
                <a href="#">CAREERS</a>
            </li>
            <li>
                <a href="#">NUTRITION</a>
            </li>
            <li>
                <a href="#">PRESS</a>
            </li>
            <li>
                <a href="#">REWARDS</a>
            </li>
            </ul>
        </div>
    </div>
  </div>

  <div class="text-center p-4" style="background-color: rgba(0, 0, 0, 0.05);">
    Copyright © Fall 2022, Fanghao Meng, WEB322 NEE
  </div>
  <!-- Copyright -->
</footer>