<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <link rel="stylesheet" href="/css/Home.css">
    
</head>
<body>
    <div class="hero">
        <div class="card_overlay">
            <div id="brand" class="brand"></div>
            <h1>Learn how to get <strong>the freshiest ice-cream</strong> in Canada🍁</h1>
            <button>Find A Shoppe</button>
            <p>WHETHER YOU&#8217;
                RE TEAM REESE&#8217;
                S, TEAM KITKAT® OR TEAM LOVE &#8217;
                EM BOTH, 
                WE&#8217;
                VE GOT THE PERFECT DASHER FOR YOU</p>
            <div class="top-text">
                <p >Mouthwateringly delicious</p>
            </div>
        </div>
    </div>
</body>
</html>