
<!doctype html>
<html lang="en">
<link rel="stylesheet" href="/css/SignUpLogin.css">
  </head>
  {{>navbar}}
  <body class="text-center">
    
    <h1 class="text-danger text-center">Welcome to Carvel</h1>


  {{>footer}}
  </body>
</html>